<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1> List of users </h1>
<% User.all.each do |u| %>
  <%= "#{u.name}, #{u.email}" %>
  <br>
<% end %>
<br>
<% if current_user.present? %>
  <%= "Current User: #{current_user.name}" %>
  <br>
  <%= link_to "Profile", user_path(current_user) %>
  <%= link_to "Log out", logout_path, method: :post %>
<% else %>
  <%= link_to "Login",  login_path %>
  <%= link_to "Create User", new_user_path %>
<% end %>
